* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  font-family: "beregular";
}
a {
  color: initial;
}
@font-face {
  font-family: "beregular";
  src: url("BeVietnam-Regular.woff") format("woff");
}
