@import "./sass files/variables.scss";
@import "./sass files/mixins.scss";
@import "./sass files/reset.scss";
@import "./sass files/navbar.scss";
.main {
  padding: 50px 20px;
  .illustration {
    flex-basis: 40%;
    img {
      width: 100%;
    }
    height: 100%;
  }
  .cta {
    flex-basis: 50%;
    height: 100%;
    .contactmeheader {
      padding: 10px;
      h1 {
        font-size: $header + 1rem;
        font-weight: 700;
        color: $purple;
      }
      p {
        padding-left: 10px;
        border-left: 4px solid $purple;
        font-weight: 700;
        font-size: $body + 0.2rem;
        margin-left: 5px;
        text-align: justify;
      }
    }
    .links {
      p {
        font-size: $body;
        font-weight: 500;
      }
      .linkscontainer {
        @include flex(center, center, row, wrap);
        width: 100%;
        div {
          flex-basis: 80%;
          margin: 5px;
          @include flex(center, center, row, wrap);
          padding: 10px;
          border-radius: 10px;
          transition: 0.3s all ease-in-out;
          background-color: $purpleopac;
          box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.4),
            3px -3px 10px inset rgba(0, 0, 0, 0.4);
          &:hover {
            transform: scale(1.1);
            background-color: $purple;
            i,
            a {
              color: $white;
            }
          }
          i {
            flex-basis: 10%;
            transition: 0.3s all ease-in-out;
          }
          a {
            display: block;
            transition: 0.3s all ease-in-out;
            text-align: center;
            flex-basis: 90%;
            font-weight: 700;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // @include flex(flex-start, flex-start, column, wrap);
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .main {
    height: 87vh;
    @include flex(center, center, row, wrap);
    .illustration {
      height: 80%;
    }
    .cta {
      @include flex(center, center, row, wrap);
      height: 80%;
    }
  }
}
@media only screen and (min-width: 1025px) {
  .main {
    height: 90vh;
    @include flex(center, space-around, row, wrap);
  }
}
