@import "./sass files/variables.scss";
@import "./sass files/mixins.scss";
@import "./sass files/reset.scss";

@mixin smallmain($imageheight, $headerfontplus, $bodyfontplus) {
  .images {
    img {
      height: $imageheight;
    }
  }
  .overlay {
    background-image: linear-gradient(to bottom, $purple, transparent);
    .text {
      padding: 10px;
      h1 {
        font-size: $header + $headerfontplus;
      }
      p {
        padding: 20px 0 0 10px;
        font-size: $body + $bodyfontplus;
        line-height: 1.5;
      }
    }
    .kmwell {
      padding-top: 40px;
      a {
        background-color: $purple;
        color: $white;
        &:hover {
          background-color: $purpleopac;
        }
      }
    }
  }
}
.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  .wrapper {
    width: 100%;
    .navbar {
    }
    .main {
      position: relative;
      width: 100%;
      height: 100%;
      .images {
        position: relative;
        width: 100%;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          transition: 0.3s all ease-in-out;
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        // z-index: 2;
        .text {
          display: flex;
          flex-direction: column;
          padding: 10px;
          h1 {
            color: $white;
            border-bottom: 2px solid;
            line-height: 2;
          }
          p {
            color: $white;
          }
        }
        .kmwell {
          @include flex(center, center, row, wrap);
          width: 100%;
          a {
            filter: drop-shadow(-3px 3px 10px rgba(0, 0, 0, 0.7));
            flex-basis: 40%;
            padding: 10px;
            margin: 0 5px;
            transition: 0.3s all ease-in-out;
            text-align: center;
            font-size: $body + 0.1rem;
            border-radius: 10px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 480px) {
  .container {
    .wrapper {
      .navbar {
        @include smallerdevs;
      }
      .main {
        @include smallmain(90vh, 0.5rem, 0.4rem);
      }
    }
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .container {
    .wrapper {
      .navbar {
        @include smallerdevs;
      }
      .main {
        @include smallmain(100vh, 0.5rem, 0.4rem);
      }
    }
  }
}
@media only screen and (min-width: 1025px) {
  .container {
    .wrapper {
      .navbar {
        @include laptopnav;
      }
      .main {
        .overlay {
          background-image: linear-gradient(46deg, $purple, transparent);
          .text,
          .kmwell {
            margin: 40px;
            width: 40%;
          }
          .text {
            h1 {
              font-size: $header + 1rem;
            }
            p {
              font-size: $body + 0.4rem;
            }
          }
          .kmwell {
            a {
              background-color: $white;
              color: $purple;
              &:hover {
                color: $white;
                background-color: $purpleopac;
              }
            }
          }
        }
      }
    }
  }
}
